.item {
    --color-body: #222;
    --color-background: #F8F8F2;
    --color-favoriteButton-active: #C24868;
    display: flex;
    flex-direction: column;
}

.item .image{
    position: relative;
    text-align: center;
}

.item img {
    max-width: 183px;
    min-height: 276px;
    box-shadow: 0px 5px 15px #00000029;
    margin: 0 auto;
}

.title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.item .info {
    position: relative;
    padding: 4px;
    height: 100%;
    color: var(--color-body);
    background: transparent;
    font: normal normal normal 18px/22px Montserrat;
}

.item .infoInner {
    height: 100%;
    padding-top: 16px;
}

.item .infoDetail {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.item .infoDetail > li {
    padding-bottom: 2px;
}

.item .label {
    font-weight: 900;
}

.item .favoriteButton {
    position: absolute;
    bottom: -15px;
    z-index: 9;
    left: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--color-background);
    background: var(--color-body);
    border: 2px solid var(--color-body);
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
    transform: translateX(-50%);
    cursor: pointer;
    transition: background 500ms, color 500ms;
    font: normal normal normal 16px/19px Font Awesome 5 Free;
}

.item .favoriteButtonActive {
    color: white;
    background: var(--color-favoriteButton-active);
    border: 2px solid var(--color-background);
}

.item .favoriteButton > span {
    position: relative;
    top: 1px;
    font-size: 16px;
    font-weight: normal;
}

@media screen and (max-width: 480px) {
    .item {
        flex-direction: row-reverse;
        width: 90%;
        margin: 0 auto; 
        padding: 0;
        max-width: 480px;
    }
    .item .image{
        width: 42%;
        text-align: left;
    }
    .item img {
        width: 125px;
        height: 188px;
        min-height: 188px;
    }
    .item .info {
        width: 54%;
        margin: 0;
        padding: 0;
    }
    .item .infoInner {
        height: auto;
        padding-top: 0;
        padding-right: 8px;
    }
    .item .favoriteButton {
        bottom: 50%;
        left: 0;
    }
    
}
