.main {
    margin:16px auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: center;
    gap: 16px;
    margin: 16px auto;
    padding: 0;
    max-width: 1200px;
}