.main {
    margin:16px auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: center;
    gap: 16px;
    margin: 16px auto;
    padding: 0;
    max-width: 1200px;
}

/* Pagination */
.paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1;
}
.paginationWrapper .span {
    font-family: var(--font-karla);
}

.paginationWrapper .button {
    width: 35px;
    height: 35px;
    color: var(--color-light);
    background: var(--background-dark);
    border-radius: 100%;
    cursor: pointer;
}
.paginationWrapper .icon {
    position: relative;
    top: 1px;
    font-size: 18px;
}

.paginationWrapper .prev .icon {
    left: -1px;
}

.paginationWrapper .next .icon {
    left: 1px;
}

.paginationWrapper .disabled {
    opacity: 0.5;
    pointer-events: none;
}

